*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
     font-family: 'Hanken Grotesk', sans-serif;
      font-family: 'Inter', sans-serif;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.container{
   display: flex;
   flex-direction: row;
    box-shadow: 5px 5px 5px 5px lightgray; 
    box-sizing: border-box;
   height: 450px;
    width: 700px;
    border-radius: 25px;
    text-align: center;
    
}
@media only screen and (max-width:41rem) {
    .container{
            display: flex;
           flex-direction: column; 
            height:700px ;
        
    }
    
}

.box1 {
  
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    height: 100%;
    width: 70%;
    text-align: center;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;

}
@media only screen and (max-width:41rem) {
    .box1{
      width: 100%;
    }
    
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 175px;
    width: 175px;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}
.number{
    font-size: 60px;
    color: hsl(0, 0%, 100%);
    font-weight: bolder;  
    display: block;
    z-index: 1;
}
.of-number{
    
    opacity: 50%;
    color: hsl(221, 100%, 96%);
    display: block;
    z-index: 1;
}
 
.circle::before{
    content: "";
    position: absolute;
    display: block;
    width:100%;
    height:100%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 0; 
    background: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1)); 
    transform: translate(-50%,-50%); 
    margin-top: 16px;
}

.box1 h1{
    color:  hsl(221, 100%, 96%);
    margin-bottom: 24px;
    opacity: 70%;
}
.box1 h2{
    color: hsl(0, 0%, 100%);
    padding: 24px;
    font-weight: 800;
    
}

.box2{ 
    width: 70%;
    display: flex;
    flex-direction: column;
     background-color: white; 
     border-radius:25px;
  
}
@media only screen and (max-width:41rem) {
    .box2{
      width: 100%;
    }
    
}
.description{
    color: hsl(241, 100%, 89%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 59px;
    padding-right: 56px;
    padding-top: 24px;
    opacity: 80%;
}
 

.reaction{
   justify-content: space-between;
    display:flex;
    align-items: center;
    border-radius: 10px;
    background-color: #FFF6F5;
    width: 300px;
    height: 60px;
    margin-left: 24px;
    margin-top: 16px;
    padding:12px ;
   
}
.box2 h3{
   display: flex;
   align-items: flex-start;
   justify-content:flex-start ;
    margin-left: 24px;
    margin-right: 16px;
    margin-bottom: 10px;
    margin-top: 24px;
    font-size: 24px;
   
}
.line1{
 color:  hsl(0, 100%, 67%) ;
}
.memory{
    justify-content: space-between;
     display:flex;
     align-items: center;
     border-radius: 10px;
     background-color: #FFF6F5;
     width: 300px;
     height: 60px;
     margin-left: 24px;
     margin-top: 16px;
     padding:12px ;
    
 }
 .line2{
    color:  hsl(39, 100%, 56%);
 }
 .verbal{
    justify-content: space-between;
     display:flex;
     align-items: center;
     border-radius: 10px;
     background-color: #FFF6F5;
     width: 300px;
     height: 60px;
     margin-left: 24px;
     margin-top: 16px;
     padding: 12px;
    
 }
 .line3{
   color:  hsl(166, 100%, 37%);
 }
 .visual{
    justify-content: space-between;
     display:flex;
     align-items: center;
     border-radius: 10px;
     background-color: #FFF6F5;
     width: 300px;
     height: 60px;
     margin-left: 24px;
     margin-top: 16px;
     padding:12px ;
    
 }
 .line4{
   color: hsl(234, 85%, 45%);
 }
 
 .continue {
    border-radius: 25px;
    background-color:hsl(224, 30%, 27%);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    text-align: center;
    color: #DFE8EF;
    font-size: 16px;
    margin-left: 22px;
    margin-bottom:16px ;
    margin-top:16px ;
 }
 .numbcolor{
    color: grey;
 }
 


